.profile__info {
  max-width: 348px;
  display: grid;
  grid-template-rows: 55px 24px;
  margin: auto 0;
  margin-left: 30px;
}
@media (max-width: 426px) {
  .profile__info {
    max-width: 282px;
    margin: 0;
    margin-left: 27px;
    grid-template-rows: 32px 24px;
  }
}
